@font-face {
    font-family: 'Garamond 3';
    src: url('garamond_3_urw-webfont.eot');
    src: url('garamond_3_urw-webfont.eot?#iefix') format('embedded-opentype'),
         url('garamond_3_urw-webfont.woff') format('woff'),
         url('garamond_3_urw-webfont.ttf') format('truetype'),
         url('garamond_3_urw-webfont.svg#garamond_3_urwregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Garamond Pro Italic';
    src: url('garamondpremrpro-it-webfont.eot');
    src: url('garamondpremrpro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('garamondpremrpro-it-webfont.woff') format('woff'),
         url('garamondpremrpro-it-webfont.ttf') format('truetype'),
         url('garamondpremrpro-it-webfont.svg#garamond_premr_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}